<div id="login">
    <div>
       
        <div class="container-login">
			<div class="heading-section">				
					<h2>LOGIN</h2>				
			</div>

			<div class="form-section">
				<div class="form">					
                        <form form action="/signin-signup" method="post" class="signin-form">
                            <div class="form-group">
                                <input type="email" name="email" class="form-control input-box" placeholder="Username" required>
                            </div>
                        
                            <div class="form-group">
                                <button class="form-control input-box btn ">Sign In</button>
                            </div>

                        </form>
                    
                    
			    </div>
			</div>
		</div>

    </div>
    
</div>